<!DOCTYPE html>
html
  head
    title= title
    block links
        link(rel='stylesheet', type='text/css', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css')
        link(rel='stylesheet', type='text/css', href='/css/style.css')
    block scripts
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js')
  body
  div.container
    h1 Welcome to dp-my-chat