<!DOCTYPE html>
html(lang="en")
    head
        link(href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css")
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js')
        script(type='text/javascript', src='http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js')
        script(src="/js/login.js")
        link(href="/css/login.css", rel="stylesheet")
        title Login
    body
        div#login
            h3.text-center.text-white.pt-5 LOGIN FORM
            div.container
                div#login-row.row.justify-content-center.align-items-center
                    div#login-column.col-md-6
                        div#login-box.col-md-12
                            form#login-form.form(action="/login" method="post")
                                h3.text-center.text-info Login
                                div.form-group
                                    label.text-info(for="username") Username:
                                    input#username.form-control(type="text" name="username")
                                div.form-group
                                    label.text-info(for="password") Password:
                                    input#password.form-control(type="password" name="password")
                                div.form-group
                                    label.text-info(for="remember-me")
                                        span Remember me
                                        span
                                            input#remember-me(name="remember-me" type="checkbox")
                                    br
                                    button.btn.btn-info.btn-md(type="submit" name="submit" id="btn-login") Login
                                div#register-link.text-right
                                    a.text-info(href="/register") Register
