
//css
link(rel="stylesheet", href="/css/header.css")
link(href="/css/profile.css", rel="stylesheet")
script(src='/js/common.js')
// Logo
div.logo.form-group
  div.left-header.col-md-9
    a(href='/')
      img(src="/images/logo1.png", alt="", srcset="")
      span Chat with Me
  div.right-header.col-md-3
    a(href='#')
      if userLogin.user_profile_image != undefined
        img.img_url(src = userLogin.user_profile_image)
      else 
        img.img_url(src="/images/no-img.png")
      span#action_profile #{userLogin.username}
    small.user_name (#{userLogin.nickname})
      .action_menu_profile
        ul
          li(aria-hidden='true' data-toggle='modal', data-target='#myModal')
            i#my-profile.fas.fa-user-circle
              |  Profile
          li
            form#logout-form.form(action="/logout" method="post")
              p#logout-submit
                i.fas.fa-users
                |  Logout
include myProfile
