#modalProfile.modal.fade(role='dialog')
  .modal-dialog.modal-lg
    .modal-content
      .modal-body
        .container.h-100
          .row.h-100.justify-content-center.align-items-center
            .card-profile
              .card-h
                .profile_pic
                  img(src='https://bootsnipp.com/img/avatars/92ff0456eb6106d0c1ae8ab5f1fe0afe2d2d25f2.jpg')
              .card-body-profile
                .d-lfex.justify-content-center.flex-column
                  .name_container
                    .name Samim
                  .nickname Kuala Lumpur, Malaysia
                .follow
              .card-footer-profile
                button.btn-cancel.btn-danger(type='button', data-dismiss='modal') Cancel